<div class="row">
	<div class="col-md-2">
	</div>

	<div class="col-md-8">
		<h1>Edit Items</h1>

		<%= render 'form', listing: @listing %>

		<%= link_to 'Show', @listing, class: "btn btn-link" %> |
		<%= link_to 'Back', listings_path, class: "btn btn-link" %>
	</div>

	<div class="col-md-2">
	</div>
</div>


